.form {
  background-color: #3ad886;
  height: 35rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: .5rem
}

.button-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 1rem .5rem 0 .5rem
}

.form-buttons {
  background-color: #ED6B5A;
  border: none;
  border-radius: .3rem;
  padding: .5rem;
}

input {
  border-radius: .1rem;
  margin: none;
  width: 95%;
}

.product-container {
  display: flex;
  height: 20vh;
  width: 30rem;
  background-color: #D34735;
  margin-bottom: 1rem;
  border-radius: .5rem;
  padding: 1rem
}

.product-view {
  display: flex;
  justify-content: space-evenly;
}

.product-picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.form-pic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 1rem
}

.product-buttons {
  background-color: #3ad886;
  border: none;
  border-radius: .3rem;
  padding: .5rem;
}

header {
  display: flex;
  align-items: center;
  background-color: #AB2A19;
  color: white;
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 2rem
}

h3 {
  margin: 0
}

h2 {
  margin-left: 1rem;
  font-weight: 300
}